<section class="index-page">
  <p class="success">
    You have been successfully logged in!
  </p>
  <img src={{ image }} class='avatar'>
  <h1>Hello <b>{{ name }}</b>!</h1>
  <a href='/user/profile'>
    User profile
  </a><br>
  <a href='/user/profile/settings'>
    Profile settings
  </a><br>
  <a href='/logout'>
    Logout
  </a>
</section>